.room-toolbar {
  list-style: none;
  margin: 0;
  padding: 0 30px 0 35px;
  font-size: 0;

  display: inline-block;

  box-shadow: 2px 2px 4px #999;
  background-color: #2ab4ea;

  border-radius: 50px;
}

.room-toolbar li {
  width: 80px;
  height: 85px;
  cursor: pointer;
  display: inline-block;

  background-repeat: no-repeat;
  background-image: url(../images/icons.png);
}

.room-toolbar li.window {
  background-position: 0px 18px;
}

.room-toolbar li.window:hover {
  background-position: 0px -90px;
}

.room-toolbar li.pencil {
  background-position: -88px 18px;
}

.room-toolbar li.pencil:hover {
  background-position: -88px -90px;
}

.room-toolbar li.irazer {
  background-position: -184px 18px;
  padding-right: 10px;
}

.room-toolbar li.irazer:hover {
  background-position: -184px -90px;
}

.room-toolbar li.pause {
  background-position: -284px 18px;
}

.room-toolbar li.pause:hover {
  background-position: -284px -90px;
}

.room-toolbar li.chat {
  background-position: -376px 18px;
}

.room-toolbar li.chat:hover {
  background-position: -376px -90px;
}

.room-toolbar li.add {
  background-position: -468px 18px;
}

.room-toolbar li.add:hover {
  background-position: -468px -90px;
}
